* {
  margin: 0;
  box-sizing: border-box;
}

$logo-color: #2eaf5f;
$error-color: #ee0000;
$gotham-book: "gothambook", Arial, Helvetica, sans-serif;
$gotham-medium: "gothammedium", Arial, Helvetica, sans-serif;