@charset "UTF-8";

@import "assets/styles/base/base", "assets/styles/base/default";

@import "assets/styles/components/button";

@import "assets/styles/components/form";

@import "assets/styles/pages/login";


@font-face {
  font-family: "gothamblack";
  src: url("./fonts/gotham-black-webfont.woff2") format("woff2"),
    url("./fonts/gotham-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamlight";
  src: url("./fonts/gotham-light-webfont.woff2") format("woff2"),
    url("./fonts/gotham-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gothamthin";
  src: url("./fonts/gotham-thin-webfont.woff2") format("woff2"),
    url("./fonts/gotham-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothamxlight";
  src: url("/fonts/gotham-xlight-webfont.woff2") format("woff2"),
    url("/fonts/gotham-xlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothammedium";
  src: url("/fonts/gothammedium-webfont.woff2") format("woff2"),
    url("/fonts/gothammedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambold";
  src: url("./fonts/gotham-bold-webfont.woff2") format("woff2"),
    url("./fonts/gotham-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook";
  src: url("./fonts/gothambook-webfont.woff2") format("woff2"),
    url("./fonts/gothambook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
